
<h3>Please review your information below:</h3>
<form action="">
<input type="checkbox" name="" value="" checked> I'm single<br>
<input type="checkbox" name="" value="" checked>  Have no Dependents<br>
<input type="checkbox" name="" value="" checked>  Earned less than $60,000<br>
<input type="checkbox" name="" value="" checked>  You did not live in one state and work in another<br>
<input type="checkbox" name="" value="" checked>  You are working on an associates, bachelors or masters degree<br>
<input type="checkbox" name="" value="" checked>  You were enrolled at least half time<br>

<p class="lead">
  <%=button_to "File my taxes", tax_returns_sample_page_2_path, class: "btn btn-lg btn-primary"%>
</p>
