
<!-- <div class="alert alert-success" role="alert">Congratulations! You qualify to receive $437 from the IRS in 1-2 weeks!</div>
 -->

<!-- <input type="checkbox" name="" value="" checked><br>
<input type="checkbox" name="" value="" checked><br>
 -->
</form>
<hr>

<p class="lead">We took the following information from your W-2:</p>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <table class="table" id='review-table'>
      <tr>
        <td>Name:</td>
        <td>Christina Stevens</td>
        <td><button type="button" class="btn btn-default btn-sm">Edit</button><td>
      </tr>
      <tr>
        <td>Social Security #:</td>
        <td>400-06-7835</td>
        <td><button type="button" class="btn btn-default btn-sm">Edit</button><td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>14A Loafers Lane</td>
        <td><button type="button" class="btn btn-default btn-sm">Edit</button><td>
      </tr>
      <tr>
        <td>Birthdate:</td>
        <td><button type="button" class="btn btn-default btn-sm">Enter Birthdate</button><td>
        <td></td>
      </tr>
      <tr>
        <td>Bank Account:</td>
        <td><button type="button" class="btn btn-default btn-sm">Enter Bank Account for your refund deposit</button><td>
        <td></td>
      </tr>

    </table>
  </div>
  <div class="col-md-4"></div>
</div>

<p class="lead">
  <%=button_to "Save and continue", tax_returns_sample_page_2_path, class: "btn btn-lg btn-primary"%>
</p>








