
<h3>Please review and confirm your information below:</h3>

<p>
<form class="requirements-form" action="">
<input type="checkbox" name="" value="" checked> You're single<br>
<input type="checkbox" name="" value="" checked>  Have no Dependents<br>
<input type="checkbox" name="" value="" checked>  Earned less than $60,000<br>
<input type="checkbox" name="" value="" checked>  Only have a W-2, 1098, and/or a 1099-INT<br>
<input type="checkbox" name="" value="" checked>  Are working on an associates or bachelors<br>
<input type="checkbox" name="" value="" checked>  Were enrolled at least half time<br>
</p>


<p class="lead">
  <%=button_to "File my taxes", tax_returns_sample_page_2_path, class: "btn btn-lg btn-primary"%>
</p>
