<h1 class="cover-heading"><span class="glyphicon glyphicon-camera"></span> Photograph your W-2 </h1>


<div id="iphone-image">
<%=image_tag("iphone_camera.png")%>
</div>


<br>
<p class="lead">
  <%=link_to "Capture Image", tax_returns_sample_page_1_path, class: "btn btn-lg btn-primary"%>
</p>
