<ul class="lead" id="landing-bullets">
  <li>No hidden fees. No Gimmicks.</li>
  <li>Designed for the simplest tax situations</li>
  <li>Upload basic forms using phone’s camera</li>
  <li>TaxCut reads the forms, pulls relevant data, and files the taxes. $20. Done!</li>
<ul>

<h3>Step 1: Upload your W2 Form</h3>
  <p class="lead">Take a screenshot of you W2 in your smartphone, and upload it to our site.</p>
<h3>Step 2: Validate your tax return information</h3>
  <p class="lead">After answering a few questions, we will make sure you get the maximum refund through us. If you are not eligible with us, we will offer you other viable options.</p>
<h3>Step 3: Confirm and Complete</h3>
  <p class="lead">After you uploaded, hit confirm and we will show you the tax refund amount you will receive and your form will be sent to IRS.</p>
