

<div class="inner cover" id="landing">
  <h1 class="cover-heading">File your state and federal taxes in 15 minutes or less for only $20</h1>
<!--   <p class="lead">No hidden fees. No Gimmicks.</p>
 -->
<br>


<h3>Here are the basic requirements:</h3>
<br>
<p>
<form id="requirements-form" action="">
<input type="checkbox" name="" value="" checked> You're single<br>
<input type="checkbox" name="" value="" checked>  Have no Dependents<br>
<input type="checkbox" name="" value="" checked>  Earned less than $60,000<br>
<input type="checkbox" name="" value="" checked>  Only have a W-2, 1098, and/or a 1099-INT<br>
<input type="checkbox" name="" value="" checked>  Are working on an associates or bachelors<br>
<input type="checkbox" name="" value="" checked>  Were enrolled at least half time<br>
</p>

<br>
  <p class="lead">
    <%=link_to "Get Started now", tax_returns_sample_camera_path, class: "btn btn-lg btn-default"%>
  </p>
</div><!-- inner cover -->





