

<div class="inner cover" id="landing">
  <h1 class="cover-heading">File your state and federal taxes in 5 minutes or less for only $20</h1>
  <p class="lead">No hidden fees. No Gimmicks.</p>
  <p class="lead">
    <%=link_to "Upload your W-2", tax_returns_sample_camera_path, class: "btn btn-lg btn-default"%>
  </p>
</div><!-- inner cover -->





