

<div class="inner cover" id="landing">
  <h1 class="cover-heading">File your state and federal taxes in 15 minutes or less for only $20</h1>
<!--   <p class="lead">No hidden fees. No Gimmicks.</p>
 -->
<br>
<ul class="lead" id="landing-bullets">
  <li>No hidden fees. No Gimmicks.</li>
  <li>Designed for the simplest tax situations</li>
  <li>Upload basic forms using phone’s camera</li>
  <li>TaxCut reads the forms, pulls relevant data, and files the taxes. $20. Done!</li>
<ul>

<br>
  <p class="lead">
    <%=link_to "Get Started now", tax_returns_sample_camera_path, class: "btn btn-lg btn-default"%>
  </p>
</div><!-- inner cover -->





